In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [7]:
df = pd.read_csv('./house-prices-advanced-regression-techniques/train.csv')
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [8]:
df['YearBuilt']

0       2003
1       1976
2       2001
3       1915
4       2000
        ...
1455    1999
1456    1978
1457    1941
1458    1950
1459    1965
Name: YearBuilt, Length: 1460, dtype: int64

In [26]:
land_ext = pd.read_csv('./land_ext/land_ext.csv')
land_ext = land_ext.drop('Unnamed: 0', axis=1)
land_ext

,LotArea,LotFrontage,LotShape_IR1,LotShape_IR2,LotShape_IR3,LotShape_Reg,LotConfig_Corner,LotConfig_CulDSac,LotConfig_FR2,LotConfig_FR3,...,Condition1_RRNe,Condition1_RRNn,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,Pool,Fence
0,8450,65.0,0,0,0,1,0,0,0,0,...,0,0,1,0,61,0,0,0,0,0.0
1,9600,80.0,0,0,0,1,0,0,1,0,...,0,0,1,298,0,0,0,0,0,0.0
2,11250,68.0,1,0,0,0,0,0,0,0,...,0,0,1,0,42,0,0,0,0,0.0
3,9550,60.0,1,0,0,0,1,0,0,0,...,0,0,1,0,35,272,0,0,0,0.0
4,14260,84.0,1,0,0,0,0,0,1,0,...,0,0,1,192,84,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,62.0,0,0,0,1,0,0,0,0,...,0,0,1,0,40,0,0,0,0,0.0
1456,13175,85.0,0,0,0,1,0,0,0,0,...,0,0,1,349,0,0,0,0,0,1.0
1457,9042,66.0,0,0,0,1,0,0,0,0,...,0,0,1,0,60,0,0,0,0,1.0
1458,9717,68.0,0,0,0,1,0,0,0,0,...,0,0,1,366,0,112,0,0,0,0.0
1459,9937,75.0,0,0,0,1,0,0,0,0,...,0,0,1,736,68,0,0,0,0,0.0

In [16]:
struc_utils = pd.read_csv('./utitilies_house_struc/House_Stucture_ Utilities_EDA')
struc_utils = struc_utils.drop('Unnamed: 0', axis=1)
struc_utils

,Electrical_Y,CentralAir_Y,Heating_Ex,Heating_Gd,Heating_TA,MSZoning_C,MSZoning_RL,MSZoning_RM/RH,BldgType_1Fam,BldgType_TwnhsE,...,MasVnrType_Stone,ExterQual_Ex,ExterQual_Gd,ExterQual_TA,ExterCond_Gd,Foundation_BrkTil,Foundation_CBlock,Foundation_PConc,Foundation_Slab,YearBuilt
0,1,1,1,0,0,0,1,0,1,0,...,0,0,1,0,1,0,0,1,0,2003
1,1,1,1,0,0,0,1,0,1,0,...,0,0,0,1,1,0,1,0,0,1976
2,1,1,1,0,0,0,1,0,1,0,...,0,0,1,0,1,0,0,1,0,2001
3,1,1,0,1,0,0,1,0,1,0,...,0,0,0,1,1,1,0,0,0,1915
4,1,1,1,0,0,0,1,0,1,0,...,0,0,1,0,1,0,0,1,0,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1,1,1,0,0,0,1,0,1,0,...,0,0,0,1,1,0,0,1,0,1999
1456,1,1,0,0,1,0,1,0,1,0,...,1,0,0,1,1,0,1,0,0,1978
1457,1,1,1,0,0,0,1,0,1,0,...,0,1,0,0,1,0,0,0,0,1941
1458,0,1,0,1,0,0,1,0,1,0,...,0,0,0,1,1,0,1,0,0,1950
1459,1,1,0,1,0,0,1,0,1,0,...,0,0,1,0,1,0,1,0,0,1965

In [19]:
garage = pd.read_csv('./garage_house_qualities/garage.final.csv')
garage = garage.drop('Unnamed: 0', axis=1)
garage

,id,garagecars,garagetype_2Types,garagetype_Attchd,garagetype_Basment,garagetype_BuiltIn,garagetype_CarPort,garagetype_Detchd,garagetype_NA,garagefinish_Fin,garagefinish_RFn,garagefinish_Unf,garagefinish_NA
0,1,2,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,1.0,0.0,0
1,2,2,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,1.0,0.0,0
2,3,2,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,1.0,0.0,0
3,4,3,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,0.0,1.0,0
4,5,3,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,2,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,1.0,0.0,0
1456,1457,2,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1.0,0
1457,1458,1,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,1.0,0.0,0
1458,1459,1,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1.0,0
1459,1460,1,0.0,1.0,0.0,0.0,0.0,0.0,0,1.0,0.0,0.0,0

In [21]:
house_quals = pd.read_csv('./garage_house_qualities/house_qualities.final.csv')
house_quals = house_quals.drop('Unnamed: 0', axis=1)
house_quals

,id,lowqualfinsf,highqualsf,bedroomabvgr,tot_halfbath,tot_fullbath,extra_rooms,fireplace_binary,kitchenabvgr,kitchenqual_Ex,kitchenqual_Fa,kitchenqual_Gd,kitchenqual_TA,functional_Maj1,functional_Maj2,functional_Min1,functional_Min2,functional_Mod,functional_Sev,functional_Typ
0,1,0,1710,3,1,3,4,0,1,0,0,1,0,0,0,0,0,0,0,1
1,2,0,1262,3,1,2,2,1,1,0,0,0,1,0,0,0,0,0,0,1
2,3,0,1786,3,1,3,2,1,1,0,0,1,0,0,0,0,0,0,0,1
3,4,0,1717,3,0,2,3,1,1,0,0,1,0,0,0,0,0,0,0,1
4,5,0,2198,4,1,3,4,1,1,0,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,0,1647,3,1,2,3,1,1,0,0,0,1,0,0,0,0,0,0,1
1456,1457,0,2073,3,0,3,3,1,1,0,0,0,1,0,0,1,0,0,0,0
1457,1458,0,2340,4,0,2,4,1,1,0,0,1,0,0,0,0,0,0,0,1
1458,1459,0,1078,2,0,2,2,0,1,0,0,1,0,0,0,0,0,0,0,1
1459,1460,0,1256,3,1,2,2,0,1,0,0,0,1,0,0,0,0,0,0,1

In [22]:
bsmt_misc = pd.read_csv('./bsmt_and_misc/bsmt_and_misc3.csv')
bsmt_misc

,TotalBsmtSF,LogSalePrice,BsmtHasBath,BsmtQual_Ex,BsmtQual_Fa,BsmtQual_Gd,BsmtQual_TA,BsmtCond_Fa,BsmtCond_Gd,BsmtCond_Po,...,SaleType_COD,SaleType_CWD,SaleType_Con,SaleType_New,SaleType_Oth,SaleCondition_AdjLand,SaleCondition_Partial,BsmtFinType1_Low,SaleType_LowCon,SaleCondition_Other
0,856,12.247694,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1262,12.109011,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,920,12.317167,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,756,11.849398,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,1145,12.429216,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,953,12.072541,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1456,1542,12.254863,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1457,1152,12.493130,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1458,1078,11.864462,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1459,1256,11.901583,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [27]:
final_df = pd.concat([land_ext, bsmt_misc, house_quals, garage, struc_utils], axis = 1)
final_df

,LotArea,LotFrontage,LotShape_IR1,LotShape_IR2,LotShape_IR3,LotShape_Reg,LotConfig_Corner,LotConfig_CulDSac,LotConfig_FR2,LotConfig_FR3,...,MasVnrType_Stone,ExterQual_Ex,ExterQual_Gd,ExterQual_TA,ExterCond_Gd,Foundation_BrkTil,Foundation_CBlock,Foundation_PConc,Foundation_Slab,YearBuilt
0,8450,65.0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,1,0,2003
1,9600,80.0,0,0,0,1,0,0,1,0,...,0,0,0,1,1,0,1,0,0,1976
2,11250,68.0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,2001
3,9550,60.0,1,0,0,0,1,0,0,0,...,0,0,0,1,1,1,0,0,0,1915
4,14260,84.0,1,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,1,0,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,62.0,0,0,0,1,0,0,0,0,...,0,0,0,1,1,0,0,1,0,1999
1456,13175,85.0,0,0,0,1,0,0,0,0,...,1,0,0,1,1,0,1,0,0,1978
1457,9042,66.0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1941
1458,9717,68.0,0,0,0,1,0,0,0,0,...,0,0,0,1,1,0,1,0,0,1950
1459,9937,75.0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,1,0,0,1965

In [39]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [47]:
final_df = final_df.drop('id', axis=1).drop('Id', axis=1)

In [48]:
final_df

,LotArea,LotFrontage,LotShape_IR1,LotShape_IR2,LotShape_IR3,LotShape_Reg,LotConfig_Corner,LotConfig_CulDSac,LotConfig_FR2,LotConfig_FR3,...,MasVnrType_Stone,ExterQual_Ex,ExterQual_Gd,ExterQual_TA,ExterCond_Gd,Foundation_BrkTil,Foundation_CBlock,Foundation_PConc,Foundation_Slab,YearBuilt
0,8450,65.0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,1,0,2003
1,9600,80.0,0,0,0,1,0,0,1,0,...,0,0,0,1,1,0,1,0,0,1976
2,11250,68.0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,2001
3,9550,60.0,1,0,0,0,1,0,0,0,...,0,0,0,1,1,1,0,0,0,1915
4,14260,84.0,1,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,1,0,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,62.0,0,0,0,1,0,0,0,0,...,0,0,0,1,1,0,0,1,0,1999
1456,13175,85.0,0,0,0,1,0,0,0,0,...,1,0,0,1,1,0,1,0,0,1978
1457,9042,66.0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1941
1458,9717,68.0,0,0,0,1,0,0,0,0,...,0,0,0,1,1,0,1,0,0,1950
1459,9937,75.0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,1,0,0,1965