In [23]:
import pandas as pd
import numpy as np

In [24]:
df1 = pd.read_csv('utitilies_house_struc/House_Stucture_ Utilities_EDA.csv')
df1 = df1.rename(columns = {'Id': 'id'})
df1.head()

,Electrical_Y,CentralAir_Y,Heating_Ex,Heating_Gd,Heating_TA,MSZoning_C,MSZoning_RL,MSZoning_RM/RH,BldgType_1Fam,BldgType_TwnhsE,...,ExterQual_Ex,ExterQual_Gd,ExterQual_TA,ExterCond_Gd,Foundation_BrkTil,Foundation_CBlock,Foundation_PConc,Foundation_Slab,YearBuilt,id
0,1,1,1,0,0,0,1,0,1,0,...,0,1,0,1,0,0,1,0,2003,1
1,1,1,1,0,0,0,1,0,1,0,...,0,0,1,1,0,1,0,0,1976,2
2,1,1,1,0,0,0,1,0,1,0,...,0,1,0,1,0,0,1,0,2001,3
3,1,1,0,1,0,0,1,0,1,0,...,0,0,1,1,1,0,0,0,1915,4
4,1,1,1,0,0,0,1,0,1,0,...,0,1,0,1,0,0,1,0,2000,5

In [25]:
df2 = pd.read_csv('bsmt_and_misc/bsmt_and_misc3.csv')
df2 = df2.rename(columns = {'Id': 'id'})
df2.head()

,TotalBsmtSF,LogSalePrice,BsmtHasBath,BsmtQual_Ex,BsmtQual_Fa,BsmtQual_Gd,BsmtQual_TA,BsmtCond_Fa,BsmtCond_Gd,BsmtCond_Po,...,SaleType_COD,SaleType_CWD,SaleType_Con,SaleType_New,SaleType_Oth,SaleCondition_AdjLand,SaleCondition_Partial,BsmtFinType1_Low,SaleType_LowCon,SaleCondition_Other
0,856,12.247694,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1262,12.109011,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,920,12.317167,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,756,11.849398,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,1145,12.429216,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
df3 = pd.read_csv('garage_house_qualities/garage.final.csv')
df3 = df3.drop(['Unnamed: 0', 'garagetype_NA', 'garagefinish_NA'], axis=1)
df3 = df3.fillna(0)
df3.head()

,id,garagecars,garagetype_2Types,garagetype_Attchd,garagetype_Basment,garagetype_BuiltIn,garagetype_CarPort,garagetype_Detchd,garagefinish_Fin,garagefinish_RFn,garagefinish_Unf
0,1,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,4,3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,5,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [27]:
df4 = pd.read_csv('garage_house_qualities/house_qualities.final.csv')
df4 = df4.drop('Unnamed: 0', axis=1)
df4.head()

,id,lowqualfinsf,highqualsf,bedroomabvgr,tot_halfbath,tot_fullbath,extra_rooms,fireplace_binary,kitchenabvgr,kitchenqual_Ex,kitchenqual_Fa,kitchenqual_Gd,kitchenqual_TA,functional_Maj1,functional_Maj2,functional_Min1,functional_Min2,functional_Mod,functional_Sev,functional_Typ
0,1,0,1710,3,1,3,4,0,1,0,0,1,0,0,0,0,0,0,0,1
1,2,0,1262,3,1,2,2,1,1,0,0,0,1,0,0,0,0,0,0,1
2,3,0,1786,3,1,3,2,1,1,0,0,1,0,0,0,0,0,0,0,1
3,4,0,1717,3,0,2,3,1,1,0,0,1,0,0,0,0,0,0,0,1
4,5,0,2198,4,1,3,4,1,1,0,0,1,0,0,0,0,0,0,0,1

In [28]:
df5 = pd.read_csv('land_ext/land_ext.csv')
df5 = df5.drop('Unnamed: 0', axis=1)
df5.head()

,LotArea,LotFrontage,LotShape_IR1,LotShape_IR2,LotShape_IR3,LotShape_Reg,LotConfig_Corner,LotConfig_CulDSac,LotConfig_FR2,LotConfig_FR3,...,Condition1_RRNn,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,Pool,Fence,id
0,8450,65.0,0,0,0,1,0,0,0,0,...,0,1,0,61,0,0,0,0,0.0,1
1,9600,80.0,0,0,0,1,0,0,1,0,...,0,1,298,0,0,0,0,0,0.0,2
2,11250,68.0,1,0,0,0,0,0,0,0,...,0,1,0,42,0,0,0,0,0.0,3
3,9550,60.0,1,0,0,0,1,0,0,0,...,0,1,0,35,272,0,0,0,0.0,4
4,14260,84.0,1,0,0,0,0,0,1,0,...,0,1,192,84,0,0,0,0,0.0,5

In [30]:
df_merge_col = pd.merge(df1, df2, on='id')
df_merge_col = pd.merge(df_merge_col, df3, on='id')
df_merge_col = pd.merge(df_merge_col, df4, on='id')
df_merge_col = pd.merge(df_merge_col, df5, on='id')
df_merge_col

,Electrical_Y,CentralAir_Y,Heating_Ex,Heating_Gd,Heating_TA,MSZoning_C,MSZoning_RL,MSZoning_RM/RH,BldgType_1Fam,BldgType_TwnhsE,...,Condition1_RRNe,Condition1_RRNn,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,Pool,Fence
0,1,1,1,0,0,0,1,0,1,0,...,0,0,1,0,61,0,0,0,0,0.0
1,1,1,1,0,0,0,1,0,1,0,...,0,0,1,298,0,0,0,0,0,0.0
2,1,1,1,0,0,0,1,0,1,0,...,0,0,1,0,42,0,0,0,0,0.0
3,1,1,0,1,0,0,1,0,1,0,...,0,0,1,0,35,272,0,0,0,0.0
4,1,1,1,0,0,0,1,0,1,0,...,0,0,1,192,84,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1,1,1,0,0,0,1,0,1,0,...,0,0,1,0,40,0,0,0,0,0.0
1456,1,1,0,0,1,0,1,0,1,0,...,0,0,1,349,0,0,0,0,0,1.0
1457,1,1,1,0,0,0,1,0,1,0,...,0,0,1,0,60,0,0,0,0,1.0
1458,0,1,0,1,0,0,1,0,1,0,...,0,0,1,366,0,112,0,0,0,0.0
1459,1,1,0,1,0,0,1,0,1,0,...,0,0,1,736,68,0,0,0,0,0.0

In [33]:
df_merge_col.to_csv('Merged_df.csv', index = False)