In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('utitilies_house_struc/House_Stucture_ Utilities_EDA.csv')
df1.head()

,Electrical_Y,CentralAir_Y,Heating_Ex,Heating_Gd,Heating_TA,MSZoning_C,MSZoning_RL,MSZoning_RM/RH,BldgType_1Fam,BldgType_TwnhsE,...,ExterQual_Ex,ExterQual_Gd,ExterQual_TA,ExterCond_Gd,Foundation_BrkTil,Foundation_CBlock,Foundation_PConc,Foundation_Slab,YearBuilt,Id
0,1,1,1,0,0,0,1,0,1,0,...,0,1,0,1,0,0,1,0,2003,1
1,1,1,1,0,0,0,1,0,1,0,...,0,0,1,1,0,1,0,0,1976,2
2,1,1,1,0,0,0,1,0,1,0,...,0,1,0,1,0,0,1,0,2001,3
3,1,1,0,1,0,0,1,0,1,0,...,0,0,1,1,1,0,0,0,1915,4
4,1,1,1,0,0,0,1,0,1,0,...,0,1,0,1,0,0,1,0,2000,5

In [4]:
df2 = pd.read_csv('bsmt_and_misc/bsmt_and_misc3.csv')
df2.columns

Index(['TotalBsmtSF', 'LogSalePrice', 'BsmtHasBath', 'BsmtQual_Ex',
       'BsmtQual_Fa', 'BsmtQual_Gd', 'BsmtQual_TA', 'BsmtCond_Fa',
       'BsmtCond_Gd', 'BsmtCond_Po', 'BsmtCond_TA', 'BsmtExposure_Av',
       'BsmtExposure_Gd', 'BsmtExposure_Mn', 'BsmtExposure_No',
       'BsmtFinType1_ALQ', 'BsmtFinType1_GLQ', 'BsmtFinType1_Rec',
       'BsmtFinType1_Unf', 'BsmtScore', 'Id', 'MiscVal', 'MoSold',
       'MiscFeature_Gar2', 'MiscFeature_Othr', 'MiscFeature_Shed',
       'MiscFeature_TenC', 'SaleType_COD', 'SaleType_CWD', 'SaleType_Con',
       'SaleType_New', 'SaleType_Oth', 'SaleCondition_AdjLand',
       'SaleCondition_Partial', 'BsmtFinType1_Low', 'SaleType_LowCon',
       'SaleCondition_Other'],
      dtype='object')

In [10]:
df3 = pd.read_csv('garage_house_qualities/garage.final.csv')
df3 = df3.drop('Unnamed: 0', axis=1)
df3.head()

,id,garagecars,garagetype_2Types,garagetype_Attchd,garagetype_Basment,garagetype_BuiltIn,garagetype_CarPort,garagetype_Detchd,garagetype_NA,garagefinish_Fin,garagefinish_RFn,garagefinish_Unf,garagefinish_NA
0,1,2,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,1.0,0.0,0
1,2,2,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,1.0,0.0,0
2,3,2,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,1.0,0.0,0
3,4,3,0.0,0.0,0.0,0.0,0.0,1.0,0,0.0,0.0,1.0,0
4,5,3,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,1.0,0.0,0

In [13]:
df4 = pd.read_csv('garage_house_qualities/house_qualities.final.csv')
df4 = df4.drop('Unnamed: 0', axis=1)
df4.head()

,id,lowqualfinsf,highqualsf,bedroomabvgr,tot_halfbath,tot_fullbath,extra_rooms,fireplace_binary,kitchenabvgr,kitchenqual_Ex,kitchenqual_Fa,kitchenqual_Gd,kitchenqual_TA,functional_Maj1,functional_Maj2,functional_Min1,functional_Min2,functional_Mod,functional_Sev,functional_Typ
0,1,0,1710,3,1,3,4,0,1,0,0,1,0,0,0,0,0,0,0,1
1,2,0,1262,3,1,2,2,1,1,0,0,0,1,0,0,0,0,0,0,1
2,3,0,1786,3,1,3,2,1,1,0,0,1,0,0,0,0,0,0,0,1
3,4,0,1717,3,0,2,3,1,1,0,0,1,0,0,0,0,0,0,0,1
4,5,0,2198,4,1,3,4,1,1,0,0,1,0,0,0,0,0,0,0,1

In [8]:
df5 = pd.read_csv('land_ext/land_ext.csv')
df5.columns

Index(['Unnamed: 0', 'LotArea', 'LotFrontage', 'LotShape_IR1', 'LotShape_IR2',
       'LotShape_IR3', 'LotShape_Reg', 'LotConfig_Corner', 'LotConfig_CulDSac',
       'LotConfig_FR2', 'LotConfig_FR3', 'LotConfig_Inside',
       'Neighborhood_Blmngtn', 'Neighborhood_Blueste', 'Neighborhood_BrDale',
       'Neighborhood_BrkSide', 'Neighborhood_ClearCr', 'Neighborhood_CollgCr',
       'Neighborhood_Crawfor', 'Neighborhood_Edwards', 'Neighborhood_Gilbert',
       'Neighborhood_IDOTRR', 'Neighborhood_MeadowV', 'Neighborhood_Mitchel',
       'Neighborhood_NAmes', 'Neighborhood_NPkVill', 'Neighborhood_NWAmes',
       'Neighborhood_NoRidge', 'Neighborhood_NridgHt', 'Neighborhood_OldTown',
       'Neighborhood_SWISU', 'Neighborhood_Sawyer', 'Neighborhood_SawyerW',
       'Neighborhood_Somerst', 'Neighborhood_StoneBr', 'Neighborhood_Timber',
       'Neighborhood_Veenker', 'Condition1_Artery', 'Condition1_Feedr',
       'Condition1_Norm', 'Condition1_PosA', 'Condition1_PosN',
       'Condition1_RRAe', 'Condition1_RRAn', 'Condition1_RRNe',
       'Condition1_RRNn', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'Pool', 'Fence'],
      dtype='object')